/* irc control codes, from: https://github.com/ircart/irc2html */

.bold{font-weight:bold;}
.italic{font-style:italic;}
.uline{text-decoration:underline;}
.aleft{text-align:left;}
.acenter{text-align:center;}
.aright{text-align:right;}
.tcase{text-transform:capitalize;}
.ucase{text-transform:uppercase;}
.lcase{text-transform:lowercase;}

.bg0{background-color:#ffffff;}
.bg1{background-color:#000000;}
.bg2{background-color:#00007f;}
.bg3{background-color:#009300;}
.bg4{background-color:#ff0000;}
.bg5{background-color:#7f0000;}
.bg6{background-color:#9c009c;}
.bg7{background-color:#fc7f00;}
.bg8{background-color:#ffff00;}
.bg9{background-color:#00fc00;}
.bg10{background-color:#009393;}
.bg11{background-color:#00ffff;}
.bg12{background-color:#0000fc;}
.bg13{background-color:#ff00ff;}
.bg14{background-color:#7f7f7f;}
.bg15{background-color:#d2d2d2;}

.fg0{color:#ffffff;}
.fg1{color:#000000;}
.fg2{color:#00007f;}
.fg3{color:#009300;}
.fg4{color:#ff0000;}
.fg5{color:#7f0000;}
.fg6{color:#9c009c;}
.fg7{color:#fc7f00;}
.fg8{color:#ffff00;}
.fg9{color:#00fc00;}
.fg10{color:#009393;}
.fg11{color:#00ffff;}
.fg12{color:#0000fc;}
.fg13{color:#ff00ff;}
.fg14{color:#7f7f7f;}
.fg15{color:#d2d2d2;}
