body {
    font-family: Courier New;
    font-size: 13px;
    color: #BBBBBB;
    background-color: #000000;
}

a:link, a:active, a:visited, a:hover {
    text-decoration: none;
    color: #00FF00;
}

.cover_links a, .show_links a, .archive a {
    color: #BBBBBB;
}

.show_links a, .repo_link a {
    text-decoration: underline;
}

.repo_link a {
    text-decoration-style: dashed;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
    font-weight: bold;
}

.archive h2 {
    font-size: 1em;
    margin-bottom: 0.2em;
}

.margin1 {
    margin-left: 5px;
}

.margin2 {
    margin-left: 20px;
}

.margin3 {
    margin-left: 30px;
}

/*
h1#file_header {
    font-size: 1em;
    margin-bottom: 0px;
}
*/

/*
iframe#google_ads_frame1 {
    height: 17px;
}
*/

.quotes {
    display: inline-block;
    width: 850px;
    background-color:#101010;
    margin-top: 3px;
    margin-bottom: 5px;
}

.quote {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    border-color:#202020;
    border-style: ridge;
    border-width: 1px;
    border-radius: 1px;
}

.hide {
    display: none;
}

.hof {
    color: #FF00FF;
}

.notice {
    color: #FF0000;
}

.repo {
    color: #00FFFF;
}

.keyword {
    color: #FFFF00;
}

.archive {
    color: #626262;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    text-align: right;
}

td:nth-child(1) {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #101010;
}

#dataTableAuthor th {
    width: 80pt;
    text-align: right;
}

#dataTableYear th {
    text-align: left;
}

#dataTableYear th:nth-child(1) {
    width: 60pt;
}

#gitfame th {
    width: 75pt;
}

#gitfame th:nth-child(5) {
    width: 100pt;
}

#ircstats th {
    text-align: left;
    width: 30pt;
}

#ircstats td {
    text-align: left;
}

#ircstats th:nth-child(1) {
    width: 80pt;
}

#ircstats th:nth-child(2) {
    width: 130pt;
}

#dataTableYear td:nth-child(2) {
    text-align: left;
}

caption {
    background-color: #303030;
}

canvas {
    border: 1px solid #626262;
}
