@charset "utf-8";

body {
    font-family: Courier New;
    font-size: 13px;
    color: #BBBBBB;
    background-color: #000000;
}

a:link, a:active, a:visited, a:hover {
    text-decoration: none;
    color: #00FF00;
}

.cover_links a, .show_links a, .archive a {
    color: #BBBBBB;
}

.show_links a, .repo_link a {
    text-decoration: underline;
}

.repo_link a {
    text-decoration-style: dashed;
    text-underline-offset: 3px;
    text-decoration-skip-ink: none;
    font-weight: bold;
}

.archive h2 {
    font-size: 1em;
    margin-bottom: 0.2em;
}

.margin1 {
    margin-left: 5px;
}

.margin2 {
    margin-left: 20px;
}

.margin3 {
    margin-left: 30px;
}

.quotes {
    display: inline-block;
    width: 850px;
    background-color:#101010;
    margin-top: 3px;
    margin-bottom: 5px;
}

.quote {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    border-color:#202020;
    border-style: ridge;
    border-width: 1px;
    border-radius: 1px;
}

.hide {
    display: none;
}

.hof {
    color: #FF00FF;
}

.notice {
    color: #FF0000;
}

.repo {
    color: #00FFFF;
}

.keyword {
    color: #FFFF00;
}

.archive {
    color: #626262;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    text-align: right;
}

td:nth-child(1) {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #101010;
}

#dataTableAuthor th {
    width: 80pt;
    text-align: right;
}

#dataTableYear th {
    text-align: left;
}

#dataTableYear th:nth-child(1) {
    width: 60pt;
}

#dataTableYear td:nth-child(2) {
    text-align: left;
}

#gitfame th {
    width: 75pt;
}

#gitfame th:nth-child(5) {
    width: 100pt;
}

#ircstats th {
    text-align: left;
    width: 30pt;
}

#ircstats th:nth-child(1) {
    width: 85pt;
}

#ircstats td {
    width: 70pt;
}

caption {
    color: white;
    background-color: #626262;
}

canvas {
    border: 1px solid #626262;
}

/*
h1#file_header {
    font-size: 1em;
    margin-bottom: 0px;
}
*/

/*
iframe#google_ads_frame1 {
    height: 17px;
}
*/

/* irc control codes, from: https://github.com/ircart/irc2html */

.bold{font-weight:bold;}
.italic{font-style:italic;}
.uline{text-decoration:underline;}
.aleft{text-align:left;}
.acenter{text-align:center;}
.aright{text-align:right;}
.tcase{text-transform:capitalize;}
.ucase{text-transform:uppercase;}
.lcase{text-transform:lowercase;}

.bg0{background-color:#ffffff;}
.bg1{background-color:#000000;}
.bg2{background-color:#00007f;}
.bg3{background-color:#009300;}
.bg4{background-color:#ff0000;}
.bg5{background-color:#7f0000;}
.bg6{background-color:#9c009c;}
.bg7{background-color:#fc7f00;}
.bg8{background-color:#ffff00;}
.bg9{background-color:#00fc00;}
.bg10{background-color:#009393;}
.bg11{background-color:#00ffff;}
.bg12{background-color:#0000fc;}
.bg13{background-color:#ff00ff;}
.bg14{background-color:#7f7f7f;}
.bg15{background-color:#d2d2d2;}

.fg0{color:#ffffff;}
.fg1{color:#000000;}
.fg2{color:#00007f;}
.fg3{color:#009300;}
.fg4{color:#ff0000;}
.fg5{color:#7f0000;}
.fg6{color:#9c009c;}
.fg7{color:#fc7f00;}
.fg8{color:#ffff00;}
.fg9{color:#00fc00;}
.fg10{color:#009393;}
.fg11{color:#00ffff;}
.fg12{color:#0000fc;}
.fg13{color:#ff00ff;}
.fg14{color:#7f7f7f;}
.fg15{color:#d2d2d2;}

/* alternative colors: looks worse 

.bg0 { background-color: white; }
.bg1 { background-color: black; }
.bg2 { background-color: navy; }
.bg3 { background-color: green; }
.bg4 { background-color: red; }
.bg5 { background-color: brown; }
.bg6 { background-color: purple; }
.bg7 { background-color: orange; }
.bg8 { background-color: yellow; }
.bg9 { background-color: lime; }
.bg10 { background-color: teal; }
.bg11 { background-color: lightcyan; }
.bg12 { background-color: blue; }
.bg13 { background-color: pink; }
.bg14 { background-color: grey; }
.bg15 { background-color: lightgrey; }

.fg0 { color: white; }
.fg1 { color: black; }
.fg2 { color: navy; }
.fg3 { color: green; }
.fg4 { color: red; }
.fg5 { color: brown; }
.fg6 { color: purple; }
.fg7 { color: orange; }
.fg8 { color: yellow; }
.fg9 { color: lime; }
.fg10 { color: teal; }
.fg11 { color: lightcyan; }
.fg12 { color: blue; }
.fg13 { color: pink; }
.fg14 { color: grey; }
.fg15 { color: lightgrey; }
*/


.placeholder {
    color: gray;
}

.sample, .preview {
    display:block;
    width: 80%;
}

.samplehdr, .previewhdr {
    display:block;
    color: white;
    background-color: #626262;
    border-bottom: solid 0px #444;
}

.previewtxt, .sampletxt {
    border: solid 2px #444;
    padding: 0.5%;
    margin-bottom: 20px;
    overflow: auto;
}

.lnkbutton {
    display: inline;
    border-width: 1px;
    border-spacing: 0px;
    border-color: #3b3b3b;
    border-radius: 3px;
    background-color: #202020ce;
    font-family: Courier New;
    font-size: 13px;
    color: #00ff009d;
    text-decoration: none;
    cursor: pointer;
    margin-right: 8px;
}

.togglemode {
    background-color: #cfcfcf;
    color: black;
}
